body {
  background-color: mintcream;
}

/****** Header *********/
.divHeader {
  width: 95vw;
  height: 10vh;
  background-color: rgb(70, 88, 104);
  margin-top: 1vh;
  margin-left: 2.5vw;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.divHeader > h1 {
  margin: auto 0 auto 3vw;
  color: whitesmoke;
}

/***** Singg Off ***********/

.divSignOff {
  width: 7vw;
  border-radius: 0 10px 10px 0;
  font-size: 2vw;
  color: rgb(231, 229, 229);
  border: none;
  background-color: rgb(224, 80, 80);
  box-shadow: 0 0 5px rgb(233, 124, 91);
}

.divSignOff:hover {
  background-color:  rgb(235, 101, 101);
  box-shadow: 0 0 5px rgb(247, 100, 94);
  color: whitesmoke;
}

/********** Add Btn ************/

.addBtn {
  width: 15vw;
  height: 7vh;
  margin-top: 2vh;
  margin-left: 42.5vw;
  background-color: #2b97fa;
  color: whitesmoke;
  font-size: 2vw;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(53, 154, 248);
}

.addBtn:hover {
  background-color: #49a4f8;
  box-shadow: 0 0 5px rgb(66, 159, 247);
}

/*********** Form Login  **********/
.formLogin {
  width: 40vw;
  background-color: rgb(99, 131, 158);
  height: 50vh;
  margin-left: 30vw;
  margin-top: 15vh;
  border-radius: 7px;
  box-shadow: 0 0 10px rgb(24, 62, 77);
}

.formLogin > div:first-child {
  position: relative;
  background-color: rgb(76, 91, 124);
  width: 35vw;
  height: 10vh;
  margin-left: 2.5vw;
  z-index: 50;
  top: -5vh;
  display: flex;
  border-radius: 8px;
  box-shadow: 0 0 20px rgb(65, 104, 88);
}

.formLogin > div:first-child > h1 {
  color: whitesmoke;
  margin: auto;
  text-align: center;
}

.formLogin > div:last-child {
  width: 30vw;
  margin: -2vh auto;
  height: 38vh;
  background-color: rgb(108, 151, 119);
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  box-shadow: 0 0 20px rgb(79, 116, 95);
}

.formLogin > div:last-child > div {
  margin: auto;
}

.formLogin > div:last-child > div > label { 
  position: relative;
  color: whitesmoke;
  font-size: 1.3vw;
  translate: 0 3.85vw;
  z-index: 0;
  opacity: 0%;
  transition: z-index .1s ease;
}

.formLogin > div:last-child > div > label.is-active { 
  font-size: 1.5vw;
  opacity: 100%;
  translate: 0 1vw;
  z-index: 100;
  transition: translate .1s ease;
}

.formLogin > div:last-child > div > input { 
  position: relative;
  background-color: rgb(108, 151, 119);
  border: none;
  text-align: center;
  font-size: 1.3vw;
  color: whitesmoke;
  z-index: 50;
  border-bottom: 1px solid whitesmoke;
  outline: none;
}

.inputPassword {
  margin-bottom: 5vh;
}

.divFailLog {
  position: absolute;
  width: 35vw;
  height: 10vh;
  margin-left: 2.5vw;
  margin-top: -15vh;
  border-radius: 8px;
  display: flex;
  z-index: 100;
  opacity: 0%;
  background-color:  rgb(76, 91, 124);
  transition: opacity background-color .1s ease-in;
}

.divFailLog.is-active {
  opacity: 100%;
  background-color: rgb(209, 120, 120);
  transition: all .1s ease-in;
}

.divFailLog > h1 {
  color: whitesmoke;
  font-size: 2vw;
  text-align: center;
  margin: auto;
}

.divBtnSubmit {
  border-radius: 8px;
  background-color: mintcream;
  opacity: 100%;
}

.divBtnSubmit.is-opacity {
  opacity: 0;
}

.divBtnSubmit.is-active {  
  position: relative;
  z-index: 400;
  border-radius: 20%;
  opacity: 90%;
  transform: scale(100);
  -webkit-transform: scale(100);
  -moz-transform: scale(100);
  -ms-transform: scale(100);
  transition: transform 1s ease; 
}

.btnSubmitLogin {
  width: 13vw;
  position: relative;
  background-color: rgb(150, 152, 235);
  border: none;
  height: 5.5vh;
  color: whitesmoke;
  font-size: 1.5vw;
  border-radius: 7px;
  opacity: 100%;
  box-shadow: 0 0 5px rgb(177, 226, 241);
}

.btnSubmitLogin:hover {
  background-color: rgb(166, 167, 247);
  box-shadow: 0 0 10px rgb(105, 221, 241);
  color: rgb(117, 116, 116);
}

.btnSubmitLogin.is-active {
  background-color: rgb(104, 100, 100);
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0%;
}

.btnSubmitLogin.is-back {
  color: mintcream;
  box-shadow: none;
  background-color: mintcream;
}


/*********** List Pdf ***********/

.divBtnPdf > button {
  width: 25vw;
  height: 7vh;
  background-color:  rgb(99, 118, 158);
  color: whitesmoke;
  font-size: 2vw;
  border: none;
}

.divBtnPdf > button:first-child {
  margin-left: 12.5vw;
  border-radius: 5px 0 0 5px;
  background-color: rgb(76, 91, 124);
}

.divBtnPdf > button:last-child {
  border-radius: 0 5px 5px 0;
}

.divDont > h1{
  position: absolute;
  width: 10vw;
  background-color: rgb(108, 151, 145);
  margin-top: -4vh;
  z-index: -3;
  border-radius: 5px;
  margin-left: 45vw;
  text-align: center;
  height: .2vh;
  font-size: .2vh;
  transition: all .5s ease; 
  color: whitesmoke;
}

.h1DontPub.is-active {
  width: 60vw;
  margin-left: 20vw;
  height: 7vh;
  margin-top: 1vh;
  font-size: 3vw;
  transition: all .5s ease; 
}

.h1DontPriv.is-active {
  width: 60vw;
  margin-left: 20vw;
  height: 7vh;
  margin-top: 1vh;
  transition: all .5s ease; 
  font-size: 3vw;
}

.h1DontTeam.is-active {
  width: 60vw;
  margin-left: 20vw;
  height: 7vh;
  margin-top: 1vh;
  font-size: 3vw;
  transition: all .5s ease; 
}

.listPdf {
  position: absolute;
}

.listPdf > div {
  background-color: rgb(108, 151, 119);
  width: 60vw;
  margin-left: 20vw;
  height: 7vh;
  margin-top: 1vh;
  font-size: 3vw;
  transition: all .5s ease; 
  display: flex;
}